.post-link {
  margin-bottom: 1.5rem;
  padding: 0.5rem;
}
.post-title a {
  font-size: 1.75rem;
  font-weight: bold;
  text-decoration: none;
  line-height: 2.0rem;
  color: rgb(170, 0, 22);
}
.post-title a:hover  {
  color: rgb(65, 8, 11);
  text-decoration: underline;
}

.post-summary {
  font-size: 1.20rem;
  margin-top: -0.25rem;
  line-height: 1.3;
  color: rgb(50, 50, 50);
  padding-bottom: 0.25rem;
}
.word-count {
  font-size: 0.95rem;
  color: rgb(80, 80, 80);
  font-weight: bold;
  padding-bottom: 0.5rem;
  padding-top: 0.25rem;
}
.last-updated {
  color: rgb(80, 80, 80);
  font-weight: bold;
}

/* Tablet width */
@media only screen and (max-width: 1200px) {
  .post-summary {
    font-size: 1.15rem;
  }
}

/* For phone width */
@media only screen and (max-width: 768px) {
  .post-title a {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .post-summary {
    font-size: 1rem;
  }
}