<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <!-- Block for head: title, css imports, scripts, etc.-->
  {% block head%}
  {% endblock head %}

  <!-- Basic adaptive resize styling -->
  <style>
    /* For phones, full-width */
    .content {
      margin: auto;
      width: 100%;
    }
    /* For tablets and above */
    @media only screen and (min-width: 700px) {
      .grid {
        display: grid;
        grid-template-columns: 1fr 10fr 1fr;
      }
    }
    /* For normal computer width */
    @media only screen and (min-width: 1200px) {
      .content {
        width: 65%;
      }
    }
  </style>
</head>

<body>
  {% block top_bar %}
  {% endblock top_bar %}
  <div class="grid">
    <div class="grid_spacer"></div>
    <!-- Block for content -->
    <div class="content">
      {% block content %}
      {% endblock content %}
    </div>
    <div class="grid_spacer"></div>
  </div>
</body>

</html>